.landingpage {
  margin: 0;
  display: grid;
  min-height: 100vh;
  z-index: -1;
}

#landing {
  min-height: 80vh;
  grid-template-columns: 1fr 1fr;
  width: -webkit-fill-available; /* Chrome, Safari */
  width: -moz-available; /* Firefox */
  width: stretch; /* Standard syntax */
}

#landing h1 {
  font-size: xxx-large;
  font-weight: bolder;
}

#landing h1::after {
  content: "_";
  color: #ffe100;
  /* or "|" */
  margin-left: 6px;
  animation: blink 1s steps(2, start) infinite;
}

#landing li {
  font-size: x-large;
  line-height: 2;
  font-weight: bolder;
}

#landing li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Blinking cursor */
#landing li a:hover {
  color: #ffe100a1;
}

#landing li a:hover::after {
  color: #ffe100;
  margin-left: 6px;
}

@media only screen and (max-width: 900px) {
  #landing {
    min-height: 90vh;
  }

  #landing .landing-header {
    grid-column: 1 / span 2;
  }

  #landing .landing-links {
    grid-column: 1 / span 2;
  }
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-decoration: none;
  text-shadow: none;
}

#grid .grid-item {
  aspect-ratio: 1 / 1;
}
#grid .grid-item :hover {
  background-color: rgba(0, 0, 0, 0.25);
  filter: blur(15%);
  color: inherit;
}
#grid .grid-item-overlay {
  height: 100%;
  display: grid;
  justify-items: center;
  transition: filter 0.5s;

}

#grid .grid-item-overlay > *
{
  color: transparent;
  width: -webkit-fill-available; /* Chrome, Safari */
  width: -moz-available; /* Firefox */
  width: stretch; /* Standard syntax */
}

#grid .grid-item-overlay > * :hover {
  color: inherit;
}

@media only screen and (max-width: 900px) {
  #grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Basic parallax */
.parallax {
  min-height: 70vh;
  /* Adjust as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* The magic */
  display: grid;
  place-items: center;
  font-weight: bolder;
}

/* Accessibility: respect reduced motion */
@media (prefers-reduced-motion: reduce) {
  .parallax {
    background-attachment: scroll;
    /* disable parallax */
  }
}