#banner-container {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: -webkit-fill-available; /* Chrome, Safari */
  width: -moz-available; /* Firefox */
  width: stretch; /* Standard syntax */
}

#banner-container .banner-logo{
  padding-inline-start: 40px;
}

#banner-container h1 {
  font-size: xxx-large;
  font-weight: bolder;
}

#banner-container .banner-logo h1::after {
  content: "_";
  color: #ffbf00;
  margin-left: 6px;
  animation: blink 1s steps(2, start) infinite;
}

#banner-container ul 
{
  list-style: none;
}
#banner-container li {
  font-size: x-large;
  line-height: 2;
  font-weight: bolder;
}

#banner-container li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Blinking cursor */
#banner-container li a:hover {
  color: #ffe100a1;
}

#banner-container li a:hover::after {
  color: #ffe100;
  margin-left: 6px;
}

@media only screen and (max-width: 900px) {
  #banner-container {
    min-height: 90vh;
  }
}