#landing {
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: -webkit-fill-available; /* Chrome, Safari */
  width: -moz-available; /* Firefox */
  width: stretch; /* Standard syntax */
}

#landing .landing-header{
      padding-inline-start: 40px;
}

#landing h1 {
  font-size: xxx-large;
  font-weight: bolder;
}

#landing h1::after {
  content: "_";
  color: #ffe100;
  /* or "|" */
  margin-left: 6px;
  animation: blink 1s steps(2, start) infinite;
}

#landing ul 
{
  list-style: none;
}
#landing li {
  font-size: x-large;
  line-height: 2;
  font-weight: bolder;
}

#landing li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* Blinking cursor */
#landing li a:hover {
  color: #ffe100a1;
}

#landing li a:hover::after {
  color: #ffe100;
  margin-left: 6px;
}

@media only screen and (max-width: 900px) {
  #landing {
    min-height: 90vh;
  }

  #landing .landing-header {
    grid-column: 1 / span 2;
  }

  #landing .landing-links {
    grid-column: 1 / span 2;
  }
}