.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content {
    padding: 3rem;
}

.navigation {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
}

.navigation .logo {
    padding-left: 3rem;
}

.navigation .logo h1::after {
    content: "_";
    color: #ffe100;
    /* or "|" */
    margin-left: 6px;
    animation: blink 1s steps(2, start) infinite;
}


@media only screen and (max-width: 900px) {
    .content {
        padding: 0 3rem;
    }

    .navigation {
        grid-template-columns: 1fr 1fr;
    }
}

.btn {
    font-family: inherit;
    text-shadow: inherit;
    background: inherit;
    color: inherit;
    margin: auto;
}

.btn :hover {
    color: #ffe100;
}

#contact-text {
    font-size: large;
    color: #fef5ec;
    position: absolute;
    bottom: 7.5rem;
    font-size: large;
    font-weight: bold;
    padding: 2.5rem;
}