.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content {
    padding: 3rem;
}

@media only screen and (max-width: 900px) {
    .content {
        padding: 0 3rem;
    }
}

.btn {
    display: inline-flex;        /* ensures proper centering */
    text-shadow: none;
    font-family: inherit;
    background: none;
    color: inherit;
    font-weight: bolder;
    margin: auto;

    border-radius: 15%;
    border-color: #928e7f;
    
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.btn :hover {
    color: #ffe100;
}

#contact-text {
    font-size: large;
    color: #fef5ec;
    position: absolute;
    bottom: 7.5rem;
    font-size: large;
    font-weight: bold;
    padding: 2.5rem;
}