.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    display: grid;
    grid-template-columns: 1fr;
    background: #091e1e;
    color: #fff;
    padding: 1.5rem;
    min-width: 300px;
}

.modal-container .close{
        grid-column-end: none;
}