.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    text-shadow: none;
    display: grid;
    grid-template-columns: 1fr;
    color: inherit;
    padding: 1.5rem;
    min-width: 300px;
    filter: drop-shadow(2px 4px 6px #000F23);
}

.modal-container .close{
    grid-column-end: none;
}